header
{
  background: var(--black);
}

aside
{
  background: rgb(243, 222, 198);
  color: var(--black);

  display: flex;
  gap: calc(var(--gap) * 2);
  flex-direction: column;
  align-items: center;

  padding: var(--gap);
}

aside .action
{
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: calc(var(--gap) * 4);
}

aside .capy
{
  aspect-ratio: 1;
  width: 100%;

  transition: transform 100ms ease;
}

aside .capy:active
{
  transform: scale(0.9);
}

aside .qntCapy
{
  font-size: 1.5rem;
  font-weight: 900;
}

main .board
{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background: var(--black);

  padding-block: var(--gap);
  padding-inline: var(--gap);
}

main .board .capivarias_container
{
  height: 200px;
  background: url(../images/grama.jpg) repeat center / 10%;
  border-radius: var(--gap);

  position: relative;
  overflow: hidden;
  overflow-x: auto;
}

main .board .capivarias_container img
{
  position: absolute;
  width: 25px;
  aspect-ratio: 1;
  object-fit: contain;

  animation: capivariasAnim 300ms ease 1;
}

@keyframes capivariasAnim {
  from {
    transform: scale(0.8) translateY(5px);
  }

  to {
    transform: scale(1) translateY(0);
  }
}

main .upgrade
{
  background: rgb(243, 222, 198);

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  padding-inline: var(--gap);
  padding-block: calc(var(--gap) * 2);
}

main .upgrade select
{
  width: fit-content;
  padding: var(--gap);
  border-radius: var(--gap);

  background-color: transparent;
  outline: 1px solid var(--black);
  color: var(--black);
  text-align: center;
  font-weight: 500;
}

main .upgrade .upgrade_card
{
  height: 100px;
  border-radius: var(--gap);
  overflow: hidden;

  transition: transform 100ms ease;

  position: relative;
}

main .upgrade .upgrade_card::after
{
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-price);
  position: absolute;
  top: 0;

  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white);

  width: 100%;
  height: 100%;
  background: hsl(from var(--black) h s l / 0.6);
}

main .upgrade .upgrade_card img
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

main .upgrade .upgrade_card:active
{
  transform: scale(0.9);
}

footer
{
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--black);
  color: var(--white);

  font-size: 0.75rem;
}